
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1" name="viewport">
    <title>页面走丢啦</title>
    <link rel="shortcut icon" href=" ../public/favicon.ico" />
    <link rel="stylesheet" href="../public/css/404.css">
</head>

<body translate="no" "return false;" onselectstart="return false">
<div class="content">
    <canvas class="snow" id="snow" width="1920" height="917"></canvas>
    <div class="main-text">
        <h1>页面在雪地里失踪了。</h1>
        <div class="main-text-a"><a href="http://localhost:3000">返回首页</a></div>
    </div>
    <div class="ground">
        <div class="mound">
            <div class="mound_text">404</div>
            <div class="mound_spade"></div>
        </div>
    </div>
</div>
<script src="../public/js/404.js"></script>
</body>
</html>