<!-- 通用头部导航栏 -->
<div class="menu">
    <div class="ad">
        <a href="">
            <img src="https://img.alicdn.com/tfs/TB1R5fsgyDsXe8jSZR0XXXK6FXa-281-80.jpg"  height="50" />
        </a>
    </div>
    <div class="nav">
        <ul class="clearfix">
            <li><a href="javascript:viod" class="current">首页</a></li>
            <li><a href="javascript:viod">服装城</a></li>
            <li><a href="javascript:viod">京东超市</a></li>
            <li><a href="javascript:viod">团购</a></li>
            <li><a href="javascript:viod">拍卖</a></li>
            <li><a href="javascript:viod">在线游戏</a></li>
        </ul>
    </div>
    <div class="all-sort">
        <span><a href="javascript:viod">登录</a></span>
    </div>
</div>
